In [ ]:
# math operation in strings
# split function in strings
# join function in strings
# membership fuction in strings and list 
# len, sum , max, min

## math operation in strings

In [2]:
value1 = 'ab'
value2 = 'AB'

print(value1 > value2)

True

In [5]:
chr(98)    #chr ; converts ascii number to its character

'b'

In [6]:
ord('a')   #ord ; converts character to its ascii number

97

In [8]:
#membership function : its a boolean outcome

a=(10,20,30.7,'science')
print(10 in a)
print('data scinece' in a )

True
False

In [ ]:
# len, sum , max , min in strings

In [15]:
#len ; no.of characters (space also counted)
a='python'
len(a)

6

In [16]:
#max and min 

print(max(a))

y

In [17]:
print(min(a))

h

In [22]:
#lists

a=[10,20,3,40,50]
print(len(a))

5

In [23]:

print(sum(a))

123

In [24]:
print(max(a))

50

In [25]:
print(min(a))

3

## SPLIT function and Joint

In [28]:
# breaking into pieces ; DEFAULT where there is a space 

a='I work in Microsoft'
c=a.split()
print(c)

['I', 'work', 'in', 'Microsoft']

In [31]:
a='I work in, Microsoft'
b=a.split(",")   # we can specify our split area
print(b)

['I work in', ' Microsoft']

In [52]:
a= 'my name is abhisek and my age is'
b=a.split()
print(b)

['my', 'name', 'is', 'abhisek', 'and', 'my', 'age', 'is']

In [53]:
b.append(str(25))
print(b)

['my', 'name', 'is', 'abhisek', 'and', 'my', 'age', 'is', '25']

In [55]:
#join ; join is used to join each word

sol= ' '.join(b)
print(sol)

my name is abhisek and my age is 25

In [58]:
a= 'I AM FROM,INDIA'
b= a.split(',')
print(b)

['I AM FROM', 'INDIA']

In [59]:
c= " ".join(b)
print(c)

I AM FROM INDIA

In [66]:
#question : capgemini interview question

value='i.love.programming.language'
#output='language.programmimg.love.i'
a= value.split('.')
print(a)
c= a[::-1]
print(c)
sol= '.'.join(c)
print(sol)

['i', 'love', 'programming', 'language']
['language', 'programming', 'love', 'i']
language.programming.love.i

### END of strings and lists