# Python Functions

#Function means executing the logic many times but writing the logic one time .
- syntax for python function :
    - refers with keyword dev
    - inside write the ligic 
    - call from any where

In [1]:
# adding numbers without using functions:

a=20
b=90

print(a+b)

110

In [2]:
a=78
b=90

print(a+b)

168

In [ ]:
#funcition is used to make it easy and code reusability
#resuability = write the code one time and use it many times

In [ ]:
#create a function and i will write it once but execute it many times

In [ ]:
#addition of 2 numbers using function:

In [3]:
def rahul():
    print ('I stay in New Delhi')

In [4]:
rahul()   #i am calling a function name rahul

I stay in New Delhi

In [5]:
def rahul():
    print(a+b)

In [6]:
rahul()

168

In [13]:
def rahul(c,d):
    print(c+d)

In [14]:
c=30
d=40

rahul(c,d)

70

In [ ]:
#now lets write the code :

In [18]:
def kiran(a1, b1):
    print(a1+b1)

In [19]:
kiran(10,20)

30

In [20]:
#again i wl call:
kiran(200,300)

500

In [21]:
kiran(2,5)

7

In [22]:
#lets explore more examples : 

c=30
d=40
kiran(c,d)

70

In [23]:
d=45
e=67
kiran(d,e)

112

In [33]:
a= 'python '
b= 'programming'
kiran (a , b)

python programming

In [34]:
a= 'data sc '
b= 'python'

kiran (a , b)

data sc python

In [43]:
# find the odd and even numbers from 1 to 20 using functions  :

In [44]:
def even_and_odd(starting,ending):
    for i in range (starting, ending):
        if i % 2 == 0:
            print(i, "even")
        else:
            print(i, "odd")

In [45]:
even_and_odd(1, 21)

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even
17 odd
18 even
19 odd
20 even

In [47]:
even_and_odd(20, 50)

20 even
21 odd
22 even
23 odd
24 even
25 odd
26 even
27 odd
28 even
29 odd
30 even
31 odd
32 even
33 odd
34 even
35 odd
36 even
37 odd
38 even
39 odd
40 even
41 odd
42 even
43 odd
44 even
45 odd
46 even
47 odd
48 even
49 odd

In [ ]:
# please check the function with passing parameters.

In [60]:
#pallindrome with function :

def pallindrome(number):
    temp=number 
    count=0
    while number > 0 :
        res = number % 10
        count= (count * 10) + res 
        number = number // 10 
    
    if temp == count:
        print(count, 'its a pallindrome')
    else :
        print(count, 'Not a pallindrome')

In [58]:
pallindrome(121)

121 its a pallindrome

In [61]:
pallindrome(567)

765 Not a pallindrome

In [62]:
pallindrome(987)

789 Not a pallindrome

In [65]:
#few more examples :


def examination(phy=100, maths=50, science= 30):
    print(phy,maths,science)

In [66]:
examination(phy=40, maths=60, science=80)

40 60 80

In [ ]:
# def <function_name>(attributes or parameters)

In [ ]:
# return keyword : to let a function return a value , use the return statement :

In [67]:
def square (number):
    print(number*number)
square(16)

256

In [68]:
square(3)

9

In [69]:
square (25)

625

In [70]:
#return keyword:

def square (number):
    return number*number
square(16)

256

In [ ]:
#the difference is that if you use print u can use the value generated by function further :
#but with return i can use the value.

In [71]:
def square (number):
    print(number*number)
square(16)

256

In [75]:
#using return i can use the result :

def square(number):
    return number*number

In [76]:
sol = square (25)

In [77]:
print (sol)

625

In [78]:
if sol%2 == 0 :
    print('even')
else:
    print('odd')

odd

In [ ]:
# retuen with multiple parameters : 
# square and add

In [115]:
def square(a , b):
    value_1= a*a
    value_2= b*b
    
    return value_1 , value_2

In [116]:
first , second = square(10, 20)

In [117]:
print(first+second)

500

In [118]:
print(second//first)

4

In [ ]:
#will take a list of values and find out how many are divisble by 2 and 3 and then add them

In [109]:
def use_case(a):
    count_2= 0
    count_3= 0
    for i in a:
        if i % 2 == 0:
            count_2 = count_2 + i
    for j in a:
        if j % 2 == 0:
            count_3 = count_3 + j
    return count_2 , count_3

In [110]:
a = [1,2,3,4,5,6,7,8,9,10,158,12,16,20,25,27,30,34,38,40]

sol_1 , sol_2 = use_case(a)
print (sol_1 + sol_2)

756

In [111]:
a = [10,20,30,50,60,80,40]

sol_1 , sol_2 = use_case(a)
print (sol_1 + sol_2)

580

In [ ]:
#find the count of each character in your own name using functions and output should be in dictionaries:

#input - 'Abhisek'

#output- {'A':2,'b':1,'h':1,'i':2,'s':1,'e':1,'k':1, '':1 ,'p':1 ,'n':1}

In [8]:
a = {}
a['k'] = 100
print(a)

{'k': 100}

In [9]:
a.keys()

dict_keys(['k'])

In [22]:
def excercise(a):
    empty_dict = {}
    for i in a :
        if i in empty_dict.keys():
            empty_dict[i] = empty_dict[i] + 1
        else:
            empty_dict[i] = 1
            
        return empty_dict

In [23]:
a = 'abhisek pani'
result = exercise(a)

print (result)

{'a': 1}

In [25]:
## not and or in : keywords

a= 'abhisek'
print('j' not in a)

True

In [26]:
a= 'abhisek'
print('b' not in a)

False

In [ ]:
# and means both condition should satisfy 
# or means any of the condition must satisfy

In [27]:
# find the numbers divisible by 2 and 3 :

for i in range(1,11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [33]:
for i in range (1,11):
    if i % 2==0 and i % 3 == 0:
        print(i)

6

In [32]:
for i in range (1,15):
    if i%2== 0 or i%3 == 0:
        print(i)

2
3
4
6
8
9
10
12
14

In [34]:
# from 12 to 51, find the numbers divisible by 3 and 5:

for i in range (12,51):
    if i%3 == 0 and i%5 == 0 :
        print(i)

15
30
45

In [35]:
for i in range (12,51):
    if i%3 == 0 or i%5 == 0 :
        print(i)

12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50

# lambda Functions

In [ ]:
#for normal function we need to use function name 
#but lamda function has no function name. 
#lambda finction is an ananymous function: there will be no function name 
#lambda function syntax will be [lambda arguments : expressions]
#both function and lamda function is same  but l.f. has no function name and we need to write the code in a single line which is very difficult.
#official documentation : https://docs.python.org/3/reference/expressions.html

In [37]:
sol= lambda x , y : x*y 

a=10
b=20
sol(a,b)

200

In [39]:
sol= lambda x , y : x/y 

a=10
b=20
sol(a,b)

0.5

In [57]:
# find the cube of number 

sol = lambda x : pow (5,3)
number=5
sol(number)

125

In [59]:
# for loop using lambda :

sol= lambda x : print x for i in range (x)

number=100
sol(number)

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2123750691.py, line 3)

In [ ]:
# write 2 table using functions and lambda function :

#2*1=2
#2*2=4 
..
...
#2*10=20

In [64]:
#functions :

def table(number):
    for i in range(1,11):
        print(number,'*',i,'=',number*i)

In [65]:
table(number=2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [76]:
# same but with lambda function :

In [75]:
sol = lambda x , y : x*y 

number = 2 
for i in range (1,11):
    print(number,"*",i,"=", sol(number,i))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20