# STRINGS

In [1]:
a='12'
print (type(a))

<class 'str'>

In [6]:

c='I am absolutely fine'

## Forward index and backward Index

In [10]:

print(c[12])

e

In [13]:
f='python'
print(f[4])
print(f[-1])

o
n

## slicing operations with strings with index

In [18]:
a= 'python data science'

print(a[-8:-3])

 scie

In [20]:
a[0]

'p'

In [21]:
a[-2]

'c'

### python slicing and skipping condition:

In [111]:
a='datascience'
print(a[2:9:3])

tcn

### using slicing condition there are fixed techniques:

In [26]:
a='shah rukh khan'
print(a[:])  # means entire string as it is will be printed

shah rukh khan

In [27]:
print(a[2 : ]) #means from 2nd index to last will be printed

ah rukh khan

In [28]:
print(a[:12]) #means destination is there so it will start from zero and ends at zero

shah rukh kh

In [29]:
print(a[::-1]) #reverse everything   {:--starting  :--ending  -1--reverse}

nahk hkur hahs

In [35]:
b='artificial intelligence'
print(b[3:21:3])
c='python'
print(c[2:5:2])

iclnlg
to

In [32]:
print(a[::-2])

nh krhh

### strings concepts and methods

### Each data structure has its own methods

In [36]:
#string is immutable: can't change the memory space

In [39]:
mystring='python r java'
print(mystring)

python r java

In [42]:
mystring.
#shift +enter to check complete info about python predefined methods
#tab will show you about variables

'python r java '

In [45]:
# adding a new charac to string?  Ans: Not possible
mystring[11]='J'

TypeError: 'str' object does not support item assignment

In [47]:
#inserting new character ?  Ans: not possible
mystring[5]='j'

TypeError: 'str' object does not support item assignment

In [48]:
#deleting a character ?  Ans: not possible 
del mystring[1]

TypeError: 'str' object doesn't support item deletion

In [55]:
#we can replace charac in string within memory space
#using python string replace method  : type the variable (mystring in this case) ,then tab option select replace , then press shift+tab to do the replacement

mystring.replace('j','O')

'python r Oava '

In [57]:
print(mystring)     #we are replacing only , not saving , so output will be the original one

python r java

In [58]:
c='PYTHON'
print(c)
c= c.replace('T','K')           #need to save then only it will replace
print(c)

PYTHON
PYKHON

In [64]:
print(c)

PYKHON

### string methods

In [66]:
#replace

a='i am working as Data scientist in Amazon'  #5 a's # i want to replace first 3 a as @ :
a.replace('a','@',3)

'i @m working @s D@ta scientist in Amazon'

In [76]:
#capitalise : Starting letter will be capitalise

a="data science"
a.capitalize()

'Data science'

In [74]:
#COUNT : going to cou nt the no. of times of appearnces

a='i am working as Data scientist in Amazon '
a.count('a')

5

In [83]:
#startswith and endwith : will give us the boolean values..(True or False)
a='i am working as Data scientist in Amazon '
a.startswith('i')

True

In [84]:
a='i am working as Data scientist in Amazon '
a.endswith('n')

False

In [90]:
#index: index valjue of a character   : index(variable, start , end)

a='i stay in Auckland in Newzealand '
a.index('A',7,20)

10

In [91]:
#tittle : all 1st character will be in capital
a='i am working as Data scientist in Amazon '
a.title()

'I Am Working As Data Scientist In Amazon '

In [92]:
#Lower and Upper : lower means capital to small and upper is viceverssa
a='i am working as Data scientist in Amazon '
a.upper()

'I AM WORKING AS DATA SCIENTIST IN AMAZON '

In [93]:
a='i am working as Data scientist in Amazon '
a.lower()

'i am working as data scientist in amazon '

In [94]:
#isupper and islower : they return boolean values if they satisfy
a='i am working as Data scientist in Amazon '
a.islower()     #islower checks for all in small letters

False

In [95]:
a='DATA ANALYST AND DATA SCIENCE '
a.isupper()

True

In [97]:
#isalpha, isdecimal, isdigit , isalphanum , and isnumerical : 

a='123'
a.isnumeric()  #everything in numbers or not

True

In [105]:
a='abhisek1234'
a.isalnum()       #checks alphabets and numericals are there or not

True

In [106]:
a.isalpha()     #checks everything in alphabets or not

False

In [103]:
a.isdecimal()      #checks everything in numbers or not

False

In [107]:
a.isdigit()       #checks only numbers or not ; having string in a= 'abhisek1234'

False

In [110]:
a='worksleepeatrepeat'   #only aphabets , dont use spcae inbetween the characters otherwise output will be reversed.
a.isalpha()

True

In [ ]:
#split and join after discussion of List;

# List

-List is mutable [we can change the memory space ]
-List has its own methods
-List will be frepresented as []
-list can accept any data type.

In [117]:
a=[10,5, 60, 67.8,'data science','data analyst','data engineer']
print(a)

[10, 5, 60, 67.8, 'data science', 'data analyst', 'data engineer']

In [118]:
print(a[5])

data analyst

In [119]:
print(a[2])

60

In [120]:
a[5]

'data analyst'

In [123]:
a[5][-2]

's'

In [126]:
print(a[-1])

data engineer

In [127]:
print(a[-1] [-6])

g

In [128]:
#reverse
print(a)

[10, 5, 60, 67.8, 'data science', 'data analyst', 'data engineer']

In [129]:
print(a[:])

[10, 5, 60, 67.8, 'data science', 'data analyst', 'data engineer']

In [131]:
print(a[::-1])

['data engineer', 'data analyst', 'data science', 67.8, 60, 5, 10]

In [132]:
a=[10,5, 60, 67.8,'data science','data analyst','data engineer']
print(a[:5])

[10, 5, 60, 67.8, 'data science']

In [133]:
a=[10,5, 60, 67.8,'data science','data analyst','data engineer']
print(a[3:])

[67.8, 'data science', 'data analyst', 'data engineer']

In [ ]:
# we need to prove List is mutable.

In [134]:
a=[10,20,30,40.8, 'Badminton']
print(a)

[10, 20, 30, 40.8, 'Badminton']

In [137]:
#manually will assign memory space 

a[5]= 101   # manually we cant create a memory space.

IndexError: list assignment index out of range

In [138]:
# method called append in list which gives permission to add memory space .
# append method will only create memory space agt the end.

a.append(101)
print(a)

[10, 20, 30, 40.8, 'Badminton', 101]

In [139]:
a.append('datascience')
print(a)

[10, 20, 30, 40.8, 'Badminton', 101, 'datascience']

In [143]:
#insert method can be used to create a memory space anywhere/whereevr u want using index in the variable .

a.insert(2,23.7)
print(a)

[10, 20, 23.7, 23, 30, 40.8, 'Badminton', 101, 'datascience']

In [2]:
a=[10,20,30,40.8, 'Badminton']
a.append("data science")          #append is going to add a extra memory space in the right end.
print(a)

[10, 20, 30, 40.8, 'Badminton', 'data science']

In [6]:
a=[10,20,30,"Data science"]
a.insert(2,"data analyst")
print(a)

[10, 20, 'data analyst', 30, 'Data science']

In [10]:
#replace with another string

a=[10,20,30,"Data science"]
a[3]= 'Artificial Intelligence'
print(a)

[10, 20, 30, 'Artificial Intelligence']

In [13]:
#delete memeory space 

del a[3]
print(a)

[10, 20, 30]

In [ ]:
#fially , list is mutable and can change its behaviour.

# Methods in list

In [14]:
a=[10,50.6,'data science','data engineer']
print(a)

[10, 50.6, 'data science', 'data engineer']

In [15]:
#clear   it clears all the values in the list and make the variable as empty : but clear cannot delete variable

a.clear()
print(a)                #variable is there in the memory space , but empty not deleted

[]

In [16]:
#delete

a=[10,50.6,'data science','data engineer']
del a 
print(a)

NameError: name 'a' is not defined

In [18]:
#copy

a=[10,50.6,'data science','data engineer']
b=a
print(b)
print(a)

[10, 50.6, 'data science', 'data engineer']
[10, 50.6, 'data science', 'data engineer']

In [20]:
#count  ; how many times the values is repeated

a.count(50.6)

1

In [21]:
a=[10,50.6,'data science','data engineer',10]
print(a.count(10))

2

In [23]:
#extend  ; going to add another list at the end.

a.extend([100,200,'data analyst'])
print(a)

[10, 50.6, 'data science', 'data engineer', 10, 100, 200, 'data analyst', 100, 200, 'data analyst']

In [27]:
#index ; used to find the value of index what we have given
a=[10,50.6,'data science','data engineer',10]
a.index('data science')

2

In [32]:
a.index(10)

0

In [33]:
a.index(10,1,8)

4

In [36]:
# pop ; used to remove last memory space and we can also remove memory space whereever we want

a=[10,50.6,'data science','data engineer',10]
a.pop()

10

In [37]:
print(a)

[10, 50.6, 'data science', 'data engineer']

In [38]:
#removing where ever we want;using index position

a.pop(2)

'data science'

In [39]:
print(a)

[10, 50.6, 'data engineer']

In [48]:
#remove  ; it does not take the index value rather the value to get removed

a=[10,50.6,'data science','data engineer',10]
a.remove(50.6)
print(a)

[10, 'data science', 'data engineer', 10]

In [50]:
#reverse

a=[10,50.6,'data science','data engineer',10]
a.reverse()
print(a)

[10, 'data engineer', 'data science', 50.6, 10]

In [52]:
#reverse 2nd method by using [::-1]
a[::-1]
print(a)

[10, 'data engineer', 'data science', 50.6, 10]

In [56]:
#sort ; make them in ascending order or decending order

a=[10,20,30,45,25,60,15,100,5]
a.sort()  ; default in ascending order #ascending order
print(a)

[5, 10, 15, 20, 25, 30, 45, 60, 100]

In [57]:
a.sort(reverse=True)   # make them in descending order 
print(a)

[100, 60, 45, 30, 25, 20, 15, 10, 5]