### Data_types

In [4]:
a = 30 
b = 34
a+b

64

In [5]:
print(a)

30

In [ ]:
a=50

In [6]:
print(a)

30

In [7]:
print(type(a))

<class 'int'>

In [8]:
b=45.90
print(b)
print(type(a))

45.9
<class 'int'>

In [15]:
c= 'football' 
print(c)
print(type(c))

football
<class 'str'>

# Variable_Rules

In [17]:
#if you want to start with numbetr then use underscore:
_15b=78
print(_15b)

78

In [25]:
#no space in variables; if you want then use underscore to connect them
Amir_khan_age = 54
print(Amir_khan_age)

54

In [ ]:
# PYTHON IS A CASE SENSITIVE LANGUAGE 
#variables are case sensitive

In [29]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
#Dont use this '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|} as variables

In [30]:
Ashutosh_pani_height = 152
print(Ashutosh_pani_height)

152

### Deep dive into print condition

In [32]:
print('Abhisek')

Abhisek

In [33]:
# WE CAN '', "", """ """ in python version 3
a= """ I want to learn python"""
print(a)

 I want to learn python

In [43]:
# connect variable with print condition:

course='datanalytics'
platform='Coursera'
access='offline'

print('I am learning',course,'from',platform,'in',access,'mode')

I am learning datanalytics from Coursera in offline mode

### Data type Conversion

In [59]:
# we can use + to connect print'' with variables but with variable only in string condition

a =26
print('Age=',age)
type(age)
b=float (age)
print ('my age is',b)

Age= 26
my age is 26.0

In [65]:
a=56.8
print(a)
print(type(a))
b=int(a)
print(b)
print(type(b))

56.8
<class 'float'>
56
<class 'int'>

### int and float to string :

In [67]:
a= 20
b=str(a)
print(b)
print(type(b))

20
<class 'str'>

# string to int and float

In [68]:
#string to int only when there is only numbers not text
a='20'
print(type(a))
b=float(a)
print(type(b))
print(b)

<class 'str'>
<class 'float'>
20.0

In [ ]:
# + used in conneicting variables

In [75]:
height=156
print('my height is',str(height))

my height is 156

In [109]:
Salary=100.20
spend=50
food= 'panipuri'

#output: I spend 50 rs out of my 100.20 rs in panipuri every month.
print('I spend '+str(spend)+' '+'rs'+' '+'out of my'+' '+str(Salary)+' '+'rs'+' '+'in'+' '+ food+' '+'every month.')
print('I spend',str(spend),'rs','out of my',str(Salary),'rs','in',food,'every month.')
print(f'I spend {spend} rs out of my {Salary} rs in {food} every month. ')

I spend 50 rs out of my 100.2 rs in panipuri every month.
I spend 50 rs out of my 100.2 rs in panipuri every month.
I spend 50 rs out of my 100.2 rs in panipuri every month.

In [104]:
# % {not good in real time as it consumes a lot of space}

average= 50.9056
print('My score was %f ' %(average))

spend=20.30
course='AI'
time=5

#output: I spend 20.30 rs in AI that too for 5 hrs
print('I spend %f rs in %s that too for %d hrs'%(spend,course,time))

My score was 50.905600
I spend 20.300000 rs in AI that too for 5 hrs

In [107]:
### Important {f''---> formating technique} Most used...
age=56

print(f'My age is {age}')

My age is 56

In [ ]:
Salary=100.20
spend=50
food= 'panipuri'

#output: I spend 50 rs out of my 100.20 rs in panipuri every month.
print('I spend '+str(spend)+' '+'rs'+' '+'out of my'+' '+str(Salary)+' '+'rs'+' '+'in'+' '+ food+' '+'every month.') #by using +
print('I spend',str(spend),'rs','out of my',str(Salary),'rs','in',food,'every month.')                         ## using ,
print(f'I spend {spend} rs out of my {Salary} rs in {food} every month. ')                                    ### using f'' ....

### OPERATORS

In [112]:
10//40  ## // floor division ; removes decimal

0

In [113]:
21%5  # % gives reminder as output

1

In [114]:
pow(6,9)  ## pow refers to power function.

10077696

In [115]:
pow(4.5,8)

168151.25390625

In [116]:
pow(2,3,3)

2

In [119]:
# == ; will return boolean values

8==8
79==34

False

In [118]:
30!= 25

True

In [120]:
10>8

True

In [121]:
25>30

False

In [122]:
25>=25

True

In [123]:
30<=29
3<20
21>=20

True