## Sets in Python

In [ ]:
#Strings ''
#Lists []
#tuple ()
#sets {}
#dictionary {} with key value

In [ ]:
#sets are mutable .
#sets can be represented as {} = flower bracket
#sets can accept any data type.

In [2]:
a={10,20,"python"}
print(a)

{10, 20, 'python'}

In [11]:
print(type(a))

<class 'list'>

In [12]:
# if data is mutabe; then prove
#add data , 
#insert data at any position
#delete data space

In [15]:
#Adding data / memory space using add method

a={10,20,'python'}
print(a)

{10, 20, 'python'}

In [17]:
a.add(100)
print(a)

{100, 10, 20, 'python'}

In [25]:
#add method can add value randomly 

a.add('data')
print(a)

{100, 'data science', 10, 20, 'python', 'data'}

In [26]:
a.add(200)
print(a)

{100, 'data science', 200, 10, 20, 'python', 'data'}

In [28]:
#IMPORTANT ; sets are unorderd pairs : once we are specifying the values we cant say how they are arrranged.
#it might add anywhere but memory space is increasing

In [29]:
#Access the value using index; possible or not?

a={100,20.6,'data'}
print(a)

{'data', 100, 20.6}

In [30]:
#since memory is allocated randomly , let's see can we access the value using index or not?
print(a[2])

#from here we can say sets are random in memory space , so we can't access them using index.

TypeError: 'set' object is not subscriptable

In [31]:
#can we add the data wherever we want;

a={100,20.6,'data'}
print(a)

{'data', 100, 20.6}

a.update #it is coming under union intersection and maths stuff

In [34]:
#deleting the data / memory space : using pop , remove and discard method

In [33]:
#pop : randomly removes the value from memory space 
#discard : removes the value if present orelse returns the same value 
#remove : removes the value if present orelse raise error (opposite to discard)

In [45]:
# pop method:
a={100, 20.6, 'data'}
print(a)
a.pop()

{'data', 100, 20.6}

'data'

In [43]:
#what if the set is empty: 

a= {10,20,'dgfg'}
a.clear()
print(a)       #set() says set is empty, if pop is used in empty set , we are going to have a error.

set()

In [48]:
a.pop()  #since a is empty , we get a error

KeyError: 'pop from an empty set'

In [49]:
#discard :  removes the value if present orelse returns the same value

a={10,20,'analyst'}
print(a)

{10, 'analyst', 20}

In [51]:
a.discard(20)
print(a)

{10, 'analyst'}

In [63]:
#remove : removes the value if present orelse raise error (opposite to discard)
 
a={10,20,'analyst'}
print(a)
a.remove(20)
print(a)

{10, 'analyst', 20}
{10, 'analyst'}

In [64]:
a.remove(100)
print(a)

KeyError: 100

In [65]:
a.remove('analyst')
print(a)

{10}

### sets removes duplicates (IMPORTANT)

In [66]:
a={10,20,30,20,34,20,45,50,20}
print(a)

{34, 50, 20, 10, 45, 30}

In [ ]:
#20 is repeated 3 times , but in output its duplicates are removed.

In [67]:
# sets are mutable but not going to accept mutable data structure , it will only accept immutable data structure.

a= {10,20.67,(30,45,55,89),'data structure'}
print(a)         #since, a variable contains no mutable data structure, so no error

{10, 20.67, (30, 45, 55, 89), 'data structure'}

In [68]:
a={10,20, [29,78],(10,23),'python'}
print(a)         #error, as variable a contains mutable data i.e. lists

TypeError: unhashable type: 'list'

In [69]:
#some methods in set :

#copy; is used to copy to some other variables 
a={10,20,'Data'}
print(a)

{'Data', 10, 20}

In [71]:
b=a.copy()
print(a)
print(b)

{'Data', 10, 20}
{'Data', 10, 20}

In [72]:
#union and itersection;

a={10,20,'Data'}
b={20,30,40,'data science'}

print(a.union(b))            #duplicates/common are printed once as in output

{'Data', 20, 40, 'data science', 10, 30}

In [73]:
print(a.intersection(b))     # common in both - intersection

{20}

# Dictionary

In [ ]:
# its a mutable data type 
# used to store data as human does.
# will be represnted with {} >- uing key value pair.
# this data type is used in most of the data cases.

In [1]:
a= {'abhisek':'Scientist','ashutosh':'Marketing head'}
print(a)

{'abhisek': 'Scientist', 'ashutosh': 'Marketing head'}

In [3]:
a= {'Abhisek store house':['ac','fridge','cooler']}
print(a)

{'Abhisek store house': ['ac', 'fridge', 'cooler']}

In [ ]:
#keys can be anything.
#keys should not be duplicate.
#if you want to access values , use its keys.

In [4]:
a= {'apple':100,'banana':200,'mango':400}
print(a)

{'apple': 100, 'banana': 200, 'mango': 400}

In [6]:
a= {1:'apple',2:'banana',3:'mango'}
print(a)

{1: 'apple', 2: 'banana', 3: 'mango'}

In [7]:
#keys should not be duplicate 
a= {'apple':100,'banana':200,'mango':400,'apple':1000}
print(a)

{'apple': 1000, 'banana': 200, 'mango': 400}

In [11]:
#indepth:   #if you want to access values , use its keys.

a= {'apple':100,'banana':200,'mango':400,'apple':1000}
print(a)

{'apple': 1000, 'banana': 200, 'mango': 400}

In [8]:
a.keys()

dict_keys(['apple', 'banana', 'mango'])

In [9]:
a.values()

dict_values([1000, 200, 400])

In [10]:
a= {'apple':100,'banana':200,'mango':400,'apple':1000}

a['mango']   #if you want to access values , use its keys.

400

In [12]:
employees = {'Ravi':2000,'Simran':3500,'Animesh':4000}
print(employees)

{'Ravi': 2000, 'Simran': 3500, 'Animesh': 4000}

In [16]:
#get method used to get the data 

employees.get('Ravi')

2000

In [18]:
employees['Simran']

3500

In [23]:
#clear : used to clear entire data frame and makes it empty.
employees = {'Ravi':2000,'Simran':3500,'Animesh':4000}
employees.clear()

In [24]:
employees               #empty data set

{}

In [26]:
#copy : copy from one var to another var
employees = {'Ravi':2000,'Simran':3500,'Animesh':4000}
a=employees.copy()

print(a)
print(employees)

{'Ravi': 2000, 'Simran': 3500, 'Animesh': 4000}
{'Ravi': 2000, 'Simran': 3500, 'Animesh': 4000}

In [27]:
#items : items will give combination of both keys and values

employees.items()

dict_items([('Ravi', 2000), ('Simran', 3500), ('Animesh', 4000)])

In [ ]:
#lets see whether dictionary is mutable or not 

#add , delete and update data

In [28]:
#add data space /memory

employees = {'Ravi':2000,'Simran':3500,'Animesh':4000}

employees['Akash']= 1500

print(employees)  ## since we are playing with the keys , there is no specific location to add data ; 
#it can get added anywhere where i can access.

{'Ravi': 2000, 'Simran': 3500, 'Animesh': 4000, 'Akash': 1500}

In [31]:
employees['Akash']

1500

In [32]:
#i want to update the salary of Ravi from 2000 to 5000
employees['Ravi'] = 5000

In [33]:
print(employees)

{'Ravi': 5000, 'Simran': 3500, 'Animesh': 4000, 'Akash': 1500}

In [34]:
#using update method lets make ravis salary from 2000 to 5000.

employees.update({'Ravi':5000})

In [35]:
print(employees)

{'Ravi': 5000, 'Simran': 3500, 'Animesh': 4000, 'Akash': 1500}

In [ ]:
#methods to delete data space/ memory 

#pop: removes key what we have given 
#popitem : will remove last key and value
#del : normal python method

In [41]:
#pop method

employees.pop('Simran')

KeyError: 'Simran'

In [37]:
print(employees)

{'Ravi': 5000, 'Animesh': 4000, 'Akash': 1500}

In [42]:
employees.pop('Ravi')

5000

In [44]:
print(employees)

{'Animesh': 4000, 'Akash': 1500}

In [47]:
employees = {'Ravi': 5000, 'Simran': 3500, 'Animesh': 4000, 'Akash': 1500}
employees.popitem()      # it will remove the last one

('Akash', 1500)

In [48]:
print(employees)

{'Ravi': 5000, 'Simran': 3500, 'Animesh': 4000}

In [51]:
# using del method

del employees ['Simran']

KeyError: 'Simran'

In [52]:
print(employees)

{'Ravi': 5000, 'Animesh': 4000}

In [ ]:
#from above all these, we can say dictionary is mutable.

In [53]:
##completed data types: strings , lists , tupple, sets and dictionary

### Math module

In [54]:
import math

In [55]:
math.sqrt(181)

13.45362404707371

In [57]:
math.tan(45)

1.6197751905438615

In [58]:
import pypdf2

ModuleNotFoundError: No module named 'pypdf2'

In [59]:
!pip install pypdf2

Collecting pypdf2
  Downloading pypdf2-3.0.1-py3-none-any.whl (232 kB)
     ------------------------------------ 232.6/232.6 kB 677.8 kB/s eta 0:00:00
Installing collected packages: pypdf2
Successfully installed pypdf2-3.0.1

In [60]:
import pypdf2

ModuleNotFoundError: No module named 'pypdf2'

In [62]:
!pip install PyPDF2

Requirement already satisfied: PyPDF2 in c:\users\user\anaconda3\lib\site-packages (3.0.1)

In [63]:
import PyPDF2

In [64]:
# os package : is used to work with system , path

In [66]:
import os

In [67]:
os.listdir()   ## current directory

['.ipynb_checkpoints',
 '07-05-23_Tupple.ipynb',
 '07-May-23_concepts left behind of strings_list.ipynb',
 '30_april_strings_lists.ipynb',
 'python_basics_29_april.ipynb',
 'python_basic_29_april.ipynb',
 'Sets and Dictionary.ipynb',
 'Sun 23-04-23 Class-1.ipynb',
 'Tuple.ipynb',
 'Untitled Folder',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb']

In [68]:
os.listdir('./')  ##current dire

['.ipynb_checkpoints',
 '07-05-23_Tupple.ipynb',
 '07-May-23_concepts left behind of strings_list.ipynb',
 '30_april_strings_lists.ipynb',
 'python_basics_29_april.ipynb',
 'python_basic_29_april.ipynb',
 'Sets and Dictionary.ipynb',
 'Sun 23-04-23 Class-1.ipynb',
 'Tuple.ipynb',
 'Untitled Folder',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb']

In [70]:
os.listdir('./../')   #parent dir

['.ipynb_checkpoints', 'Python']

In [71]:
os.listdir('./../../')  ## sun root folder

['$RECYCLE.BIN', 'System Volume Information', 'Topmentor', 'trip 2018']

In [72]:
os.listdir('./../../../')  ##main root folders

['$RECYCLE.BIN', 'System Volume Information', 'Topmentor', 'trip 2018']

In [74]:
path = 'python'
chec = 'F:/Topmentor'  # since  windows for paths use \\ or /  

sol= os.path.join(chec,path)
print(sol)

F:/Topmentor\python

In [76]:
os.listdir(sol)

['.ipynb_checkpoints',
 '07-05-23_Tupple.ipynb',
 '07-May-23_concepts left behind of strings_list.ipynb',
 '30_april_strings_lists.ipynb',
 'python_basics_29_april.ipynb',
 'python_basic_29_april.ipynb',
 'Sets and Dictionary.ipynb',
 'Sun 23-04-23 Class-1.ipynb',
 'Tuple.ipynb',
 'Untitled Folder',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb']